/* CSS HEX */

:root {
    --champagne: #fae8c7ff; 
    --blush: #d26071ff; 
    --mauve: #dbc2ffff; 
    --amethyst: #8573bfff; 
    --onyx: #393d3fff;

    font-family: Arial, Helvetica, sans-serif;

}

/* margin 0; */

body {
    display:flex;
    flex-direction:column;
    background-color: var(--champagne);
    justify-content: center;
    align-items: center;
  

}

a:link, a:visited {
    background-color: var(--amethyst);
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover {
    background-color:var(--blush)
  }
  
a {
    text-decoration: none;
    background-color: var(--amethyst);
    word-spacing: 5px;
 }


nav {
 
  
  
  }
    

header {
    margin:0;
    padding: 0;
    background-color: var(--blush);
    height: 15dvh;
    width: 100dvw;
    max-width: 1250px;
    font-size: x-small;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

footer {

    background-color: var(--amethyst);
    margin: 0dvh;
    height: 10dvh;
    width: 100dvw;
    max-width: 1250px;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

main section {
  max-width: 1250px;
  margin-left: 1em;
  display:flex;
  align-content: flex-end;
  flex-direction: row;
  justify-content: flex-end;
  

}

main img {
  height: 10dvh;
  width: 20dvh;
  display:flex;
  align-content: flex-end;
  justify-content: flex-end;
}



  



